<?xml version="1.0"?>
<phpunit bootstrap="tests/php/bootstrap.php" backupGlobals="false" colors="true">
	<php>
		<const name="PHPUNIT_CFI_TESTSUITE" value="true"/>
	</php>
	<testsuites>
		<testsuite name="general">
			<directory prefix="test" suffix=".php">tests/php</directory>
		</testsuite>
	</testsuites>
</phpunit>